﻿.image-bg-responsive {
    background: transparent url('../images/business_intelligence.jpg') no-repeat top center fixed;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    height: 500px;
}
